@import url(style.css);
@import url(lenis.css);

/* Переменные */
:root {
    /* Цвета */
    --yellow: #FFE609;
    --green: #B2FF00;
    --red: #FF0004;
    --white: rgb(255, 255, 255);
    --black: #000000;
    --blackpage: #030303;
    --purple: #510060;
    --grey: rgba(255, 255, 255, 0.05);
    --silver: rgba(255, 255, 255, 0.3);

    /* Шрифты */

    /* Жирность */
    --maxbold: 800;
    --bold: 700;
    --medium: 600;
    --regular: 400;

    /* Границы и переходы */
    --border: rgba(255, 255, 255, 0.05);
    --borderblock: 1px solid var(--White-10, rgba(255, 255, 255, 0.1));
    --fill: 100%;
    --center: center;
    --flex-end: flex-end;
    --flex-start: flex-start;
    --animate: all 0.3s ease;
    --opacity__25: opacity(0.25);
    --opacity__50: opacity(0.5);
    --opacity__75: opacity(0.75);
    --opacity__100: opacity(1);
    --blur: blur(7.5px);

    /* Padding */
    --pdt8: 8rem;
    --pdb6: 6rem;
    --pd1_25: 1.25rem;

    --max: 3rem;
}

/* Мобильные (до 576px) */
@media (max-width: 576px) {
    :root {
        --zr: 0.25rem; 
        --xs: 0.5rem;   
        --sm: 0.75rem; 
        --md: 0.8rem;   
        --lg: 0.9rem;  
        --xl: 1.25rem;    
        --xxl: 0.99rem; 
        --hg: 2rem;
        --max: 2.1rem;  
    }
}

/* Планшеты (577px–768px) */
@media (min-width: 577px) and (max-width: 768px) {
    :root {
        --zr: 0.25rem; 
        --xs: 0.5rem;  
        --sm: 0.75rem; 
        --md: 1rem;    
        --lg: 1.5rem;  
        --xl: 1.7rem;    
        --xxl: 2.2rem; 
        --hg: 3rem;
        --max: 3rem;
    }
}

/* Маленькие десктопы (769px–992px) */
@media (min-width: 769px) and (max-width: 992px) {
    :root {
        --zr: 0.25rem; 
        --xs: 0.5rem;  
        --sm: 0.75rem; 
        --md: 1rem;    
        --lg: 1.5rem;  
        --xl: 1.7rem;    
        --xxl: 2.2rem; 
        --hg: 3rem;
        --max: 3.2rem;
    }
}

/* Средние десктопы (993px–1336px) */
@media (min-width: 993px) {
    :root {
        --zr: 0.25rem; 
        --xs: 0.5rem;  
        --sm: 0.75rem; 
        --md: 0.9rem;    
        --lg: 1rem;  
        --xl: 1.5rem;    
        --xxl: 2rem; 
        --hg: 3rem; 
        --max: 3.5rem;
    }
}

/* Большие десктопы (1400px+) */
@media (min-width: 1600px) {
    :root {
        --zr: 0.25rem; 
        --xs: 0.5rem;  
        --sm: 0.75rem; 
        --md: 1rem;    
        --lg: 1.5rem;  
        --xl: 1.7rem;    
        --xxl: 2rem; 
        --hg: 3rem;
        --max: 4rem;
    }
}
.o-title_line {
    opacity: 0;
    transform: translateY(100%) rotateX(-80deg);
    transform-origin: center top;
    transform-style: preserve-3d;
    transition: opacity .8s cubic-bezier(.215,.61,.355,1), transform .8s cubic-bezier(.215,.61,.355,1);
}
.o-title_line.is-inview {
    opacity: 1;
    transform: none;
    transition-delay: 0.05s;
}
.content__block {
    transform: translateY(20px);
    transition: all .3s ease;
    opacity: 0;
}
.content__block:nth-child(1) {
    transition-delay: 0.4;
}
.content__block:nth-child(2) {
    transition-delay: 0.6s;
}
.content__block:nth-child(3) {
    transition-delay: 0.8s;
}
.content__block:nth-child(4) {
    transition-delay: 1s;
}
.o-title_line.is-inview .content__block {
    transform: translateY(0);
    opacity: 1;
}